version: '3.8'

services:

  db:
    image: postgres:16-alpine
    container_name: wallet-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: wallets
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    command: >
      postgres
      -c max_connections=800

  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: wallet-app
    restart: unless-stopped
    environment:
      DB_URL: jdbc:postgresql://db:5432/wallets
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
    ports:
      - "8080:8080"
    depends_on:
      - db